
<div class="topbar">
  <h1>Apple Book to Goodreads Calculator 🧮</h1>
</div>


<div class="container">
  <h2>*** The Calculator ***</h2>
   <div class="calculator flex">
      <div class="form-group">
        <label for="exampleInputEmail1" class="stanley-zbornak">1. Progress in Apple Books</label>
        <input class="input" class="form-control" (input)="onInputAB($event.target.value)"  placeholder="5"/> <span class="rose-nyland">%</span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="stanley-zbornak">2. How many pages in your book?</label>
        <input class="input" class="form-control" (input)="onInputBook($event.target.value)" /><span class="rose-nyland">pages</span>
      </div>
    </div>

    <div class="flex button-container">
        <button class="btn btn-primary" (click)="calculateResult()">Convert!</button>
    </div>

    <div class="flex result" *ngIf="showResult">
        <h3>You are at page:</h3>
        <h3 class="result-box">{{result}}</h3>
      </div>

    <div class="colofon hide">
      <h3>To whom it may concern:</h3>
      <p>I read books in Apple Books and I also use Goodreads. </p>
      <p>In Goodreads it is possible to track your progress by page or % of the book your reading. I'm interested in knowing
        at which page I am in Goodreads. In Apple Books it merely shows
        your progress in percentages (%). I made this little calculator to help me convert it, to learn Angular and API's</p>
    </div>
<div class="status hide">
  <ol>
    <li>Hook up to the Goodreads API, so you don't need to know the pages of your book.</li>
    <li>When there's no input - and a user pushes a button, show a message or make the button disabled</li>
  </ol>
</div>

</div>
<footer class="bottombar">
  <nav class="social-nav">
    <ul>
      <li><a href="https://www.goodreads.com/user/show/23346456-magalie">Goodreads</a></li>
    </ul>
  </nav>

</footer>

